{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1 class="my-3">プロフィール</h1>
    <div class="row">
        <div class="col-md-3">
            {% include 'navigate.html' %}
            <input type="hidden" value="アカウントの削除" id="page_title" />
        </div>
        <div class="col-md-9">
            <form action="" method="post">
                {% csrf_token %}
                <p class="fs-4">本当にアカウントを削除してもよろしいでしょうか。</p>
                <div class="text-end">
                    <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-secondary">キャンセル</a>
                    <button type="submit" class="btn btn-danger">はい</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/navigate.js' %}"></script>
{% endblock %}