{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1 class="my-3">プロフィール</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group mb-4">
                <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">プロフィール情報</a>
                <a href="{% url 'profile_edit' %}"
                    class="list-group-item list-group-item-action">プロフィールの変更</a>
                <a href="{% url 'password_change' %}" class="list-group-item list-group-item-action">パスワードの変更</a>
                <a href="{% url 'delete_confirm' %}" class="list-group-item list-group-item-action">アカウントの削除</a>
            </div>

            {% if user.is_staff %}
            <div class="list-group mb-4">
                <a href="{% url 'staff_notices' %}" class="list-group-item list-group-item-action list-group-item-secondary active">お知らせ一覧</a>
                <a href="{% url 'staff_notice_create' %}"
                    class="list-group-item list-group-item-action">お知らせ作成</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label for="{{ field.id_for_label }}" class="col-form-label">{{field.label_tag}}</label>
                                </div>
                                <div class="col-md-7">
                                    <p>{{ field.value }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <p>このお知らせを削除しますか？</p>
                        <div class="text-center"><button type="submit" class="btn btn-danger">削除</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}