{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1 class="my-3">プロフィール</h1>
    <div class="row">
        <div class="col-md-3">
            {% include 'navigate.html' %}
            <input type="hidden" value="お知らせ一覧" id="page_title" />
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">タイトル</th>
                                <th scope="col">本文</th>
                                <th scope="col">作成日</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for notice in notices %}
                            <tr>
                                <td>{{notice.title | truncatechars:10}}</td>
                                <td>{{notice.content | truncatechars:30}}</td>
                                <td>{{notice.created_at | date:"Y-m-j"}}</td>
                                <td>
                                    <a href="{% url 'staff_notice_update' notice.id %}" class="btn btn-outline-success btn-sm">編集</a>
                                    <a href="{% url 'staff_notice_delete' notice.id %}" class="btn btn-outline-danger btn-sm">削除</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/navigate.js' %}"></script>
{% endblock %}