{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1 class="my-3">プロフィール</h1>
    <div class="row">
        <div class="col-md-3">
            {% include 'navigate.html' %}
            <input type="hidden" value="パスワードの変更" id="page_title" />
        </div>
        <div class="col-md-9">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table-original">
                <tr>
                    <th>現在のパスワード</th>
                    <td>{{form.old_password|add_class:"text-center"}}</td>
                </tr>
                <tr>
                    <th>新しいパスワード</th>
                    <td>{{form.new_password1|add_class:"text-center"}}</td>
                </tr>
                <tr>
                    <th>新しいパスワード(確認用)</th>
                    <td>{{form.new_password2|add_class:" text-center"}}</td>
                </tr>
            </table class="table-original">
            <div class="text-end">
                <p class="error-message">{{form.old_password.errors.0}}</p>
                <p class="error-message">{{form.new_password2.errors.0}}</p>
                <button type="submit" class="btn btn-success">更新</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/navigate.js' %}"></script>
{% endblock %}