{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="my-2">パスワード再設定</h2>
    <div class="row">
        <div class="col">
            <div class="card col-md-10 mx-auto my-3">
                <div class="card-body">
                    <p>パスワードを再設定します。</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label_tag }} <span
                                    class="badge req">必須</span></label>
                            {{form.new_password1}}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label_tag }} <span
                                    class="badge req">必須</span></label>
                            {{form.new_password2}}
                            <p class="error-message">{{form.new_password1.errors.0}}</p>
                            <p class="error-message">{{form.new_password2.errors.0}}</p>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">送信</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}