{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="my-2">パスワード再設定</h2>
    <div class="row">
        <div class="col">
            <div class="card col-md-10 mx-auto my-3">
                <div class="card-body">
                    <p>パスワードを再設定します。メールアドレスを入力してください。有効期間は1日です。</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}">{{ field.label_tag }} <span class="badge req">必須</span></label>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <div class="d-grid gap-2 col-md-4 mx-auto">
                            <button type="submit" class="btn btn-orange">送信</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}