{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1 class="my-3">プロフィール</h1>
    <div class="row">
        <div class="col-md-3">
            {% include 'navigate.html' %}
            <input type="hidden" value="プロフィール情報" id="page_title" />
        </div>
        <div class="col-md-9">
            <table class="table-original">
                <tr>
                    <th>ユーザー名</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th>学類</th>
                    <td>{{user.get_college_display}}</td>
                </tr>
            </table class="table-original">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/navigate.js' %}"></script>
{% endblock %}