{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1 class="my-3">プロフィール</h1>
    <div class="row">
        <div class="col-md-3">
            {% include 'navigate.html' %}
            <input type="hidden" value="プロフィールの変更" id="page_title" />
        </div>
        <div class="col-md-9">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table-original">
                <tr>
                    <th>ユーザー名</th>
                    <td>{{form.username|add_class:"form-control text-center"}}</td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td >{{user.email}}</td>
                </tr>
                <tr>
                    <th>学類</th>
                    <td>{{form.college|add_class:"form-select text-center"}}</td>
                </tr>
            </table class="table-original">
            <div class="text-end">
                <button type="submit" class="btn btn-success">更新</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/navigate.js' %}"></script>
{% endblock %}