{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 d-block mx-auto">
            <div class="card mt-5 mb-2">
                <img src="{% static 'images/TRev小ロゴ.png' %}" class="card-img-top my-3 w-50 mx-auto d-block" alt="ロゴ">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ form.username|add_class:"form-control input-color"|attr:"placeholder:ニックネーム" }}
                            <p class="error-message">{{ form.username.errors.0 }}</p>
                        </div>
                        <div class="form-group mb-3">
                            {{ form.college|add_class:"form-select input-color" }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.email|add_class:"form-control input-color"|attr:"placeholder:メールアドレス" }}
                            <p class="error-message">{{ form.email.errors.0 }}</p>
                        </div>
                        <div class="form-group mb-3">
                            {{ form.password1|add_class:"form-control input-color"|attr:"placeholder:パスワード" }}
                            <p class="error-message">{{ form.password1.errors.0 }}</p>
                        </div>
                        <div class="form-group mb-3">
                            {{ form.password2|add_class:"form-control input-color"|attr:"placeholder:確認用パスワード" }}
                            <p class="error-message">{{ form.password2.errors.0 }}</p>
                        </div>
                        <div class="form-group mb-5">
                            <button type="submit" class="btn btn-primary w-100">登録する</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="card-text text-center">
                        <p class="d-inline">アカウントをお持ちですか？</p>
                        <a href="{% url 'login' %}" class="text-decoration-none signup-login-color fw-bold">ログインする</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}