{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 d-block mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <div class="card-text text-center">
                        <p>アカウント登録確認メールを送信しました。まだ、アカウント登録は完了していません。<br>
                            確認メールを送信しましたので、確認メールに記載されているリンクから本登録を行ってください。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}