/* ヘッダー */
.pale-blue {
    background-color: #A6D1E6;
}

/* bodyの背景色 */
body {
    background-color: #EFF0F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* indexページの主要画像, 画像の中央に文字を重ねる */
.index-main {
    position: relative;
}

.index-main img{
    width: 100%;
}

.index-main-content{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.border-bottom {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.container > [class^="border-bottom"]:last-child {
    padding-bottom: 15px;
}


/* カードの角丸 */
.card-radius {
    border-radius: 2rem;
}

.college-img {
    width: 80%;
    height: 400px;
    border-radius: 2rem;
    background-color: rgb(146, 223, 98);

    /* フレックス要素で上下左右中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}

.college-img-small {
    width: 80%;
    height: 200px;
    border-radius: 2rem;

    /* フレックス要素で上下左右中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-light-green {
    background-color: #62FF67;
}

.color-pastel-green {
    background-color: #C4DFAA;
}

.color-pale-pink {
    background-color: #F4BFBF;
}

.color-pink {
    background-color: #FF62BB;
}

.color-pale-red {
    background-color: #FF6262;
}

.color-white-blue {
    background-color: #B9FFF8;
}

.color-dark-blue {
    background-color: #6290FF;
}

.color-navy {
    color: white;
    background-color: #161E54;
}

.color-beige {
    background-color: #F9F5EB;
}

.color-pale-teal {
    background-color: #CEE5D0;
}

.color-teal {
    background-color: #A7D2CB;
}

.color-brown {
    background-color: #CA955C;
}

.color-orange {
    background-color: #FFBB62;
}

.color-vintage-orange {
    background-color: #F8B400;
}

.color-yellow {
    background-color: #F5FF62;
}

.color-pale-purple {
    background-color: #B1B2FF;
}

.color-purple {
    background-color: #8758FF;
}

.color-pale-gray {
    background-color: #DFDFDE;
}

.color-vintage-orange {
    background-color: #FFA62F;
}

.serach-result {
    background-color: #6600CD;
}

/* コメントアイコンのサイズ調整 */
.comment-img {
    width: 40px;
    height: 40px;
}

.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #cecece; /* グレーカラー 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #fbc634; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5.0"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4.0"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3.0"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2.0"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1.0"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0.0"]:after{ width: 0%; } /* 星0 */

.kugiri-box {
    background-color: #F3F3F3;
    border-left: 5px solid #01ABF7;

}

.comment-card {
    border-radius: 10px;
    border-top: 10px solid #01ABF7;
}

.user-icon {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.text-pink {
    color: #FD386B;
}

.comment-color {
    color: #00ACEF;
}

.modal-precautions {
    background-color: #ffffe6;
}

/* フッターの設定 */
footer {
    margin-top: auto;
    background-color: #3D3C42;
}

.forget-color {
    color: #617B90;
}

.signup-login-color {
    color: #0195F7;
}

.input-color {
    background-color: #FAFAFA;
    border-color: #E8E8E8;
}

table{
    width: 100%;
    border-collapse: collapse;
}
  
table tr{
    border-bottom: solid 2px white;
}
  
table tr:last-child{
    border-bottom: none;
}
  
table th{
    text-align: left;
    width: 30%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
}

  
table td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
}

@media (max-width:768px) {
    /* indexページの主要画像, 画像の中央に文字を重ねる */
    .index-main img{
        width: 100%;
        top: 200px;
        height: 220px;
        object-fit: cover;  
        object-position: 30% 40%;
    }
    .index-main-content{
        width: 75%;
    }

    .index-feature img{
        padding-bottom: 15px;
    }

    .college-img {
        height: 100px;
    }

    .college-img-small {
        height: 50px;
    }

    .comment-img {
        width: 30px;
        height: 30px;
    }
}