/* ヘッダー */
.pale-blue {
    background-color: #A6D1E6;
}

/* bodyの背景色 */
body {
    background-color: #EFF1F6;
}

/* indexページの主要画像, 画像の中央に文字を重ねる */
.index-main {
    position: relative;
}

.index-main img{
    width: 100%;
}

.index-main-content{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.border-bottom {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.container > [class^="border-bottom"]:last-child {
    padding-bottom: 15px;
}


/* カードの角丸 */
.card-radius {
    border-radius: 2rem;
}

.college-img {
    width: 80%;
    height: 400px;
    border-radius: 2rem;
    background-color: rgb(146, 223, 98);

    /* フレックス要素で上下左右中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* フッターの背景色 */
footer {
    background-color: #3D3C42;
}
.mynavi-btn {
    background:#d21414; /*背景色の指定*/
    color:#ffffff; /*テキストの色の指定*/
    border-bottom:#800808 5px solid; /*下部の境界線の指定*/
    width:100px; /*幅の指定*/
    text-align:center; /*中央揃えの指定*/
    border-radius:5px;
    padding:10px;
}

@media (max-width:768px) {
    /* indexページの主要画像, 画像の中央に文字を重ねる */
    .index-main img{
        width: 100%;
        top: 200px;
        height: 220px;
        object-fit: cover;  
        object-position: 30% 40%;
    }
    .index-main-content{
        width: 75%;
    }

    .index-feature img{
        padding-bottom: 15px;
    }
}