{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 d-block mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <div class="card-text text-center">
                        <p>送信完了しました。</p>
                        <a href="{% url 'index' %}" class="text-decoration-none signup-login-color">ホームに戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}