{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    {% if post_success %}
    <div class="alert alert-primary alert-dismissible my-3" role="alert">
        ご投稿ありがとうございます。今後あなたの投稿が役に立つことでしょう。
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}

    <div class="card card-radius d-flex my-3 shadow-sm">
        <div class="row">
            <div class="col-md-4">
                <!--空のdivクラスを用意し、d-flexを適用する(子要素を上下左右中央揃え)-->
                <div class="d-flex align-items-center justify-content-center w-100 h-100 py-3">
                    <!--学類ごとのカラーや配置を設定-->
                    <div class="college-img">
                        <h1>{{subject_data.schools}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{subject_data.name}}</h3>
                    <h4 class="fw-normal">{{subject_data.code}}</h4>
                    <div class="kuchikomi mb-2">
                        <img src="{% static 'images/コメントアイコン7.png' %}" alt="コメントアイコン" class="comment-img me-2">
                        <p class="d-inline fw-bold me-2">口コミ</p>
                        <p class="d-inline fs-4 me-2"><span class="star5_rating" id="star5-rating" data-rate="4"></span>
                        </p>
                        <!-- レビューの計算だけJavascriptで行う -->
                        <p class="d-inline fs-4 fw-bold text-primary me-2"><u id="calculate_result"></u></p>
                        <p class="d-inline">({{review_count}}件)</p>
                        <!-- レビュー計算のための隠し要素 -->
                        <input type="hidden" id="star1" value="{{subject_data.star1}}">
                        <input type="hidden" id="star2" value="{{subject_data.star2}}">
                        <input type="hidden" id="star3" value="{{subject_data.star3}}">
                        <input type="hidden" id="star4" value="{{subject_data.star4}}">
                        <input type="hidden" id="star5" value="{{subject_data.star5}}">
                    </div>
                    <div class="whole mb-1">
                        <h4 class="kugiri-box ps-2 py-2 shadow-sm">全体情報</h4>
                        <div class="d-flex">
                            <p class="d-inline me-4">単位: {{subject_data.unit}}<br>履修年次: {{subject_data.grade}}年</p>
                            <p class="d-inline me-4">学期: {{subject_data.semester}}<br>対象学類: {{subject_data.colleges}}
                            </p>
                            <p class="d-inline">担当教員: {{subject_data.teachers | truncatechars:20}}</p>
                        </div>
                    </div>
                    <div class="concept mb-3">
                        <h4 class="kugiri-box ps-2 py-2 shadow-sm">授業概要</h4>
                        <p class="card-text">{{subject_data.overview}}</p>
                    </div>
                    <div class="other mb-3">
                        <h4 class="kugiri-box ps-2 py-2 shadow-sm">その他情報</h4>
                        <a href="https://kdb.tsukuba.ac.jp/syllabi/2022/{{subject_data.code}}/jpn" target="_blank"
                            class="text-info">シラバスを参照</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col my-3 kugiri-box ps-2 py-2 shadow-sm d-flex justify-content-between">
            <h4 class="d-inline">口コミ(評判)</h4>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                href="#exampleModalToggle1">投稿する</button>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-10">
            {% for review_data in review_datas %}
            <div class="card comment-card my-3 shadow-sm">
                <div class="card-body">
                    <div class="card-upper-box d-flex align-items-center border-bottom">
                        <img src="{% static 'images/ユーザーアイコン1.jpg' %}" alt="ユーザーアイコン1" class="user-icon mx-2">
                        <div class="d-inline-block me-auto">
                            <p class="small fw-bold mb-0">{{review_data.get_sender_college_display}}生 /
                                {{review_data.get_year_display}}度受講</p>
                            <h4 class="mb-0">{{review_data.title}}</h4>
                            <p class="small mb-0">{{review_data.sender_name}}さん</p>
                            <p class="small mb-0">{{ review_data.created_at|date:"Y年n月投稿" }}</p>
                        </div>
                        <div class="d-inline-block me-2">
                            <div class="d-flex justify-content-end align-items-center">
                                <p class="d-inline-block fs-4 me-2"><span class="star5_rating"
                                        data-rate="{{review_data.rating|floatformat:1}}"></span></p>
                                <p class="d-inline-block fs-4 fw-bold text-pink">{{review_data.rating|floatformat:1}}
                                </p>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <h4>成績: {{review_data.get_grade_display}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="main-comment mx-2">
                        <div class="comment mb-2">
                            <h4 class="comment-color">総評</h4>
                            <p>{{review_data.overall}}</p>
                        </div>
                        <div class="comment mb-2">
                            <h4 class="comment-color">授業の難易度</h4>
                            <p>{{review_data.difficulty}}</p>
                        </div>
                        <div class="comment mb-2">
                            <h4 class="comment-color">課題や試験の内容・量</h4>
                            <p>{{review_data.kadai}}</p>
                        </div>
                        <div class="comment mb-2">
                            <h4 class="comment-color">評価の甘さ</h4>
                            <p>{{review_data.evaluation}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- モーダル処理 -->
{% if user.is_authenticated %}
<div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">注意！</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-precautions">
                <p>以下の2点を確認した上で口コミを記入してください。</p>
                <h5>1.個人特定のできる口コミは記入しないでください</h5>
                <p>学生、先生などの個人が特定できる口コミは記入しないでください。</p>

                <h5>2.授業選びに役立つ口コミを記入してください</h5>
                <p>以下にあてはまる口コミは承認されません。</p>
                <p>・事実ではない口コミ<br>
                    ・なりすましと見られる口コミ<br>
                    ・根拠のないうわさ、推測による口コミ<br>
                    ・誹謗中傷の口コミ
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                    data-bs-dismiss="modal">同意して投稿する</button>
            </div>
        </div>
    </div>
</div>
<div id="send_app">
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">口コミ投稿フォーム</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" id="post_form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="mb-3">
                            <label for="titleFormControlTextarea1" class="form-label">タイトル</label>
                            {{form.title|add_class:"form-control"|attr:"id:titleFormControlTextarea1"|attr:"rows:1"|attr:"v-model.trim:inputTitle"}}
                            {{form.title.errors.0}}
                            <div class="text-end">
                                <p class="text-secondary">残り [[ 30 - inputTitle.length ]] 文字</p>
                            </div>
                        </div>
                        <div class="mb-3 d-flex">
                            <div class="d-inline me-4">
                                <label class="form-label">受講した年度</label>
                                {{form.year|add_class:"form-select"}}
                            </div>
                            <div class="d-inline me-4">
                                <label class="form-label">星</label>
                                {{form.rating|add_class:"form-select"}}
                            </div>
                            <div class="d-inline">
                                <label class="form-label">成績</label>
                                {{form.grade|add_class:"form-select"}}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="overallFormControlTextarea1" class="form-label">総評</label>
                            {{form.overall|add_class:"form-control"|attr:"id:overallFormControlTextarea1"|attr:"rows:4"|attr:"v-model.trim:inputOverall"}}
                            {{form.overall.errors.0}}
                            <div class="text-end">
                                <p class="text-secondary">残り [[ 500 - inputOverall.length ]] 文字</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="difficultyFormControlTextarea1" class="form-label">授業の難易度</label>
                            {{form.difficulty|add_class:"form-control"|attr:"id:difficultyFormControlTextarea1"|attr:"rows:4"|attr:"v-model.trim:inputDifficulty"}}
                            {{form.difficulty.errors.0}}
                            <div class="text-end">
                                <p class="text-secondary">残り [[ 100 - inputDifficulty.length ]] 文字</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="kadaiFormControlTextarea1" class="form-label">課題や試験の内容・量</label>
                            {{form.kadai|add_class:"form-control"|attr:"id:kadaiFormControlTextarea1"|attr:"rows:2"|attr:"v-model.trim:inputKadai"}}
                            {{form.kadai.errors.0}}
                            <div class="text-end">
                                <p class="text-secondary">残り [[ 100 - inputKadai.length ]] 文字</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="evaluationFormControlTextarea1" class="form-label">評価の甘さ</label>
                            {{form.evaluation|add_class:"form-control"|attr:"id:evaluationFormControlTextarea1"|attr:"rows:2"|attr:"v-model.trim:inputEvaluation"}}
                            {{form.evaluation.errors.0}}
                            <div class="text-end">
                                <p class="text-secondary">残り [[ 100 - inputEvaluation.length ]] 文字</p>
                            </div>
                        </div>
                        <!-- 隠し要素 -->
                        <div class="field d-none">
                            <!-- 隠しユーザー情報 -->
                            {{form.sender_name|add_class:"form-control"|attr:"id:sender_name"}}
                            {{form.sender_college|add_class:"form-select"|attr:"id:sender_college"}}
                            <input type="hidden" id="sender_name_dummy" value="{{user.username}}">
                            <input type="hidden" id="sender_college_dummy" value="{{user.college}}">
                            <!-- 隠し送信ボタン -->
                            <button type="submit" id="hidden-submit-button">送信</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-target="#exampleModalToggle1" data-bs-toggle="modal"
                        data-bs-dismiss="modal">戻る</button>
                    <button class="btn btn-primary" onclick="form_submit()" id="modal-send-button">投稿する</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">注意！</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-precautions">
                <p>ログインしてから投稿してください。</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="location.href='{% url 'login' %}'">ログイン</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'js/send.js' %}"></script>
<script src="{% static 'js/calcurate.js' %}"></script>
{% endblock %}