{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div id="search_app">
        <div class="row">
            <div class="col">
                <img src="{% static 'images/TRev大ロゴ.png' %}" alt="img" class="mx-auto d-block w-25 my-4">
                <div class="input-group my-3">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </span>
                    <input v-on:input="inputEvent" type="text" class="form-control" placeholder="科目番号は前方一致、科目名・教員名は正規表現に対応">
                </div>
                <div v-if="!query" class="text-center my-3">
                    自分に合った授業を履修して
                    <br class="mobile-only">
                    よりよいキャンパスライフを楽しもう！
                </div>
            </div>
        </div>

        <!-- 検索結果（検索ボックスに文字が入力されているときのみ表示） -->
        <div v-show="query">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <p class="text-center text-light fw-bold fs-5 serach-result mb-2">検索結果: [[hitcount]]件がヒットしました。</p>
                    <div class="card card-radius d-flex my-3 shadow-sm" v-for="sub in results">
                        <div class="row">
                            <div class="col-md-2">
                                <!--空のdivクラスを用意し、d-flexを適用する(子要素を上下左右中央揃え)-->
                                <div class="d-flex align-items-center justify-content-center w-100 h-100 py-3">
                                    <!--学類ごとのカラーや配置を設定-->
                                    <div :class="getSchoolsClass(sub.schools)"> 
                                        <h2>[[SimplifySchoolsName(sub.schools)]]</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <a class="card-title fs-3 text-dark" :href="/lecture/ + [[sub.code]] + '/'">[[sub.name]]</a>
                                    <h4 class="fw-normal">[[sub.code]]</h4>
                                    <p class="d-inline text-secondary">単位: [[sub.unit]], 履修年次: [[sub.grade]]年, 学期: [[ValidateData(sub.semester)]], 担当教員: [[ValidateData(readmoreFilter(sub.teachers, 20, "..."))]]</p>
                                    <div class="kuchikomi mb-2">
                                        <img src="{% static 'images/コメントアイコン7.png' %}" alt="コメントアイコン"
                                            class="comment-img me-2">
                                        <p class="d-inline fw-bold me-2">口コミ</p>
                                        <p class="d-inline fs-4 me-2"><span class="star5_rating" id="star5-rating"
                                                :data-rate="[[DataRatingCalculation1(sub.star1, sub.star2, sub.star3, sub.star4, sub.star5)]]"></span>
                                        </p>
                                        <!-- レビューの計算を行う -->
                                        <p class="d-inline fs-4 fw-bold text-primary me-2"><u id="calculate_result">[[DataRatingCalculation2(sub.star1, sub.star2, sub.star3, sub.star4, sub.star5)]]</u>
                                        </p>
                                        <p class="d-inline">([[RatingCount(sub.star1, sub.star2, sub.star3, sub.star4, sub.star5)]]件)</p>
                                    </div>
                                    <p class="d-inline text-secondary">[[ValidateData(sub.colleges)]]</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Vue.js 3 DEV VERSION-->
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}