{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsukureview | つくレビュー</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light pale-blue">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/TRev小ロゴ.png' %}" alt="Tsukureview" height="30"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                </ul>
                <ul class="navbar-nav d-flex mb-2 mb-lg-0">
                    <li class="nav-item me-2">
                      <a class="nav-link" aria-current="page" href="{% url 'search' %}">授業検索</a>
                    </li>
                    <li class="nav-item me-2">
                      <a class="nav-link" aria-current="page" href="{% url 'index' %}">つくレビューとは？</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item me-2">
                      <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'profile' %}'">プロフィール</button>
                    </li>
                    <li class="nav-item me-2">
                      <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'logout' %}'">ログアウト</button>
                    </li>
                    {% else %}
                    <li class="nav-item me-2">
                      <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'login' %}?next={{ request.path }}'">ログイン</button>
                    </li>
                    <li class="nav-item me-2">
                      <button type="button" class="btn btn-outline-success" onclick="location.href='{% url 'signup' %}'">新規登録</button>
                    </li>
                    {% endif %}
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <main class="bg-gray">
      {% block content %}{% endblock %}
    </main>
    

    <footer class="text-white text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        copyright&copy; 2022 半分、青い。 All Rights Reserved.
      </div>
      <!-- Copyright -->
    </footer>

    <!--Bootstrap5用Javascript読み込み-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!--自作Javascript読み込み-->
    {% block script %}{% endblock %}

</body>
</html>